<?xml version='1.0' encoding='utf-8'?>
<widget id="org.codefornrv.walkblacksburg" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WalkBlacksburg</name>
    <description>
        App to help you safely walk around Blacksburg, VA. Uses sidewalk, street light, and speed limit data to help you determine the safest walking route.
    </description>
    <author email="support@codefornrv.org" href="http://codefornrv.org">
        Code for New River Valley
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-5.1.1" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="19" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <icon src="www/res/icon.png" />
    <access origin="https://*.googleapis.com/" />
    <access origin="https://*.gstatic.com/" />
    <access origin="https://codefornrv.cloudant.com"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
