/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.navbar-brand {
    color: white !important;
    font-size: 24px;
    text-transform: none;
    padding: 23px;
}

.glyphicon {
    font-size: 20px;
    color: #fff
}

.modal-body .glyphicon {
    font-size: 12px;
    color: #000
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.dest-search {
    position: relative;
    width: 0%;
    margin-top: 10px;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;

    -webkit-backface-visibility: hidden;
}
.dest-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 45px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
}

#search-terms {
    color: #000;
}

input[type="search"].dest-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.dest-search-input::-webkit-input-placeholder {
    color: #b8b6b6;
}

.dest-search-input:-moz-placeholder {
    color: #b8b6b6;
}

.dest-search-input::-moz-placeholder {
    color: #b8b6b6;
}

.dest-search-input:-ms-input-placeholder {
    color: #b8b6b6;
}
#search-btn,
.dest-search-submit  {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin-top: -5px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
#search-btn {
    z-index:10000;
}
.dest-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}
.dest-icon-search {
    background-color: #ff6600;
    color: #fff;
    z-index: 90;
    font-size: 20px;
}
.dest-search.dest-search-open,
.no-js .dest-search {
    width: 90%;
}
.dest-search.dest-search-open .dest-icon-search,
.no-js .dest-search .dest-icon-search {
    color: #fff;
    z-index: 11;
}
.dest-search.dest-search-open .dest-search-submit,
.no-js .dest-search .dest-search-submit {
    z-index: 90;
}

.container-fluid {
    padding: 65px 0 0 0;

}

.fill {
    min-height: 100%;
    height: 100%;
}
.navbar-default {
    background-color: #ff6600;
    border-color: #ff6600;
    color: #fff;
    height: 65px;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 60%;
}

.pac-container {
    font-family: Roboto;
    z-index: 1200;
    width: 65% !important;
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn {
    outline: none !important;
}
.dropdown-menu {
    font-size: 20px;
    left: -4px;
    border-radius: 0px;
}

#main-menu {
    background-color: #ff6600;
    outline: none !important;
    margin-top: 15px;
    margin-bottom: 8px;
}

#locate-btn {
    position: absolute;
    bottom: 30px;
    left: 18px;
    z-index: 99;
    background-color: #660000;
    color: #fff;
}
#navigate-btn {
    position: absolute;
    bottom: 100px;
    left: 18px;
    z-index: 99;
    background-color: #ff6600;
    color: #fff;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.modal {
    padding-left: 0;
}
.menu-modal .modal-dialog {
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu-modal .modal-content {
    height: 100%;
    border-radius: 0;
}

[data-notify="container"] {
    opacity: 1;
    width: 60%;
    text-align: center;
    font-size: 14px;
}
.alert {
    padding: 5px;
}

.modal-paragraph {
    text-transform: none;
    font-size: 14px;
}

#settingsTable td {
    vertical-align: middle;
    font-size: 16px;
}

#safety-score-modal {
    position: absolute;
    top: 100px;
    right: 20px;
    left: initial;
    bottom: initial;
    width: 200px;
}

#safety-score-modal .modal-header {
    padding: 10px;
}

#safety-score-modal-dismiss {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index:1;
}

#helpModal .panel {
    text-transform: none;
    font-size: 14px;
}

.modal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

#reportModal button.pull-right {
    margin-left: 100%;
    margin-bottom: 10px;
}

#navigate-btn {
    display: none;
}
